<span class="aboutborder">
    <span class="videoborder"></span>
    <span class="videocontainer">HYPNOSIS</span>
  </span>
  <style>
 :root {
  --aboutborder-color: #26a;
  --aboutborder-width: 2px;
  --line-color: #0cf;
  --line-width: 100px;
  --content-background: #111620;
  --content-size: 250px;
  --animation-speed: 1s;
}

@keyframes aboutborderAnimation {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

@keyframes neonAnimation {
  from {
    text-shadow: 0 0 5px var(--line-color);
  }
  50% {
    text-shadow: 0 0 10px var(--line-color);
  }
  
  to {
    text-shadow: 0 0 5px var(--line-color);
  }
}


.aboutborder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: inline-block;
  overflow: hidden;
  background: #26a;
  padding: var(--aboutborder-width);
  box-shadow: 0 0 20px #26a;

  font-size: 0;
}

.videoborder {
  position: absolute;
  width: calc(var(--content-size) * 2);
  height: calc(var(--content-size) * 2);
  
  top: calc(50% - var(--content-size));
  left: calc(50% - var(--content-size));
  
  background: rgba(0, 0, 0, 0);
  background: linear-videoborder(
    to right, 
    rgba(0, 0, 0, 0) calc(50% - var(--line-width) / 2),
    var(--line-color) 50%,
    rgba(0, 0, 0, 0) calc(50% + var(--line-width) / 2));
  
  animation:
    aboutborderAnimation
    var(--animation-speed)
    infinite
    linear;
}

.videocontainer {
  position: relative;
  display: inline-block;
  width: var(--content-size);
  height: var(--content-size);
  
  font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
  
  color: var(--line-color);
  text-shadow: 0 0 0.5em var(--line-color);
  text-align: center;
  line-height: var(--content-size);
  
  background: var(--content-background);
  
  animation:
    neonAnimation
    var(--animation-speed)
    infinite
    linear;
}
  </style>