{% extends "layout.html" %}
{% block body %}
  <!-- End Header --><canvas id="digitalRain">
    
    </canvas>
    
  
 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero ">
    
    <div class="container">
     
      
      <div class="row gy-4 d-flex justify-content-between">
        <div class="csstyping col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center ">
          
          <h2 data-aos="fade-up" >Fnu Saurabh </h2>
          <h2>I am<span class="type textsec" style="--n:18"> ethical hacker</span></h2>
          
          
          <p data-aos="fade-up" data-aos-delay="100" class="line__2"></p>Facere distinctio molestiae nisi fugit tenetur repellat non praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem eum maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p>

          

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                <p>Support</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                <p>Workers</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>
        

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          
          
          <img src="{{url_for('static', filename='assets/img/hero-img.png') }}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
    

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="bi bi-file-earmark"></i></div>
            <div>
              <h4 class="title">Project</h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-journal-bookmark"></i></div>
            <div>
              <h4 class="title">Talks/Coures</h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
              <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-chat-square-dots"></i></div>
            <div>
              <h4 class="title">Blog</h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
              <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about mt-3">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first aboutvideo grad">
            <img src="{{url_for('static', filename='assets/img/about.jpg') }}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit quia molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis veritatis asperiores placeat.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                  <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Voluptatem et qui exercitationem</h5>
                  <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!--Resume-->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">
      <div class="section-header">
        <span>Resume</span>
        <h2>Resume</h2>

      </div>
      <div class="row gh-5 resumebox grad">
        <div class="col-lg-6 wow fadeInUp animated" style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
            <div class="p-4" style="background-size: cover;">
                <h3 class="s_border">Experiences</h3>
                <ul class="d_timeline">
                    <li class="d_timeline-item">
                        <h3 class="d_timeline-title">2014 - now</h3>
                        <p class="d_timeline-text"><span class="d_title">Founder &amp; Creative Director</span><span class="d_company">Kyros Studio</span>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem
                            dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit
                            iste dolor.</p>
                    </li>
                    <li class="d_timeline-item">
                        <h3 class="d_timeline-title">2010 - 2014</h3>
                        <p class="d_timeline-text"><span class="d_title">Senior UI / UX Designer</span><span class="d_company">Google Inc</span>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem
                            dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit
                            iste dolor.</p>
                    </li>
                    <li class="d_timeline-item">
                        <h3 class="d_timeline-title">2008 - 2010</h3>
                        <p class="d_timeline-text"><span class="d_title">Graphic Designer</span><span class="d_company">Kyros Studio</span>Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Animi tempora perferendis vero officia enim impedit voluptatem
                            dignissimos, veniam ratione est alias rerum aperiam, nam aliquam reprehenderit
                            iste dolor.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp animated" style="background-size: cover; visibility: visible; animation-name: fadeInUp;">
            <div class="p-4" style="background-size: cover;">
                <h3 class="s_border">Education</h3>
                <ul class="d_timeline">
                    <li class="d_timeline-item">
                        <h3 class="d_timeline-title">2004 - 2008</h3>
                        <p class="d_timeline-text"><span class="d_title">Master in Design</span><span class="d_company">New York University</span>Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Animi tempora perferendis vero officia enim
                            impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam
                            aliquam reprehenderit iste dolor.</p>
                    </li>
                    <li class="d_timeline-item">
                        <h3 class="d_timeline-title">2004 - 2008</h3>
                        <p class="d_timeline-text"><span class="d_title">Bachelor of Arts</span><span class="d_company">University of London</span>Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Animi tempora perferendis vero officia enim
                            impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam
                            aliquam reprehenderit iste dolor.</p>
                    </li>
                    <li class="d_timeline-item">
                        <h3 class="d_timeline-title">2006 - 2004</h3>
                        <p class="d_timeline-text"><span class="d_title">Artist of College</span><span class="d_company">University of Sydney</span>Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Animi tempora perferendis vero officia enim
                            impedit voluptatem dignissimos, veniam ratione est alias rerum aperiam, nam
                            aliquam reprehenderit iste dolor.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
    </section>


    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="cta-btn" href="#">Call To Action</a>
            </dic>
          </div>

        </div>
    </section><!-- End Call To Action Section -->
    <!--skill servies-->
    <section>
      <div class="container">
        <div class="section-header">
          <h2>Skills
          </h2>
          
        </div>
        <div class="skills">
      
        <div class="htmlProg ProgWidth">
          <div class="p">
            <p>html</p>
            <p>95%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar htmlBar"></span>
            </div>
          </div>
        </div>
        <div class="cssProg ProgWidth">
          <div class="p">
            <p>Css3</p>
            <p>70%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar cssBar"></span>
            </div>
          </div>
        </div>
        <div class="jsProg ProgWidth">
          <div class="p">
            <p>JavaScript</p>
            <p>75%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar jsBar"></span>
            </div>
          </div>
        </div>
        <div class="javaProg ProgWidth">
          <div class="p">
            <p>Java</p>
            <p>85%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar javaBar"></span>
            </div>
          </div>
        </div>
        <div class="c/c++Prog ProgWidth">
          <div class="p">
            <p>C/C++</p>
            <p>80%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar ccpBar"></span>
            </div>
          </div>
        </div>
        <div class="reactProg ProgWidth">
          <div class="p">
            <p>React</p>
            <p>70%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar reactBar"></span>
            </div>
          </div>
        </div>
        <div class="nodeProg ProgWidth">
          <div class="p">
            <p>Node.js</p>
            <p>35%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar nodeBar"></span>
            </div>
          </div>
        </div>
        <div class="sqlProg ProgWidth">
          <div class="p">
            <p>Sql</p>
            <p>85%</p>
          </div>
          <div class="pp">
            <div class="skillDiv">
              <span class="skillBar sqlBar"></span>
            </div>
          </div>
        </div>
      </div></div>
      
    </section>
        <!-- ======= My experties Section ======= -->
        <section id="service" class="services pt-0">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <span>My Experties</span>
              <h2>My Experties</h2>
    
            </div>
    
            <div class="row gy-4">
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                
                <div class="card">
                  
                  <h3><a href="service-details.html" class="stretched-link">Vulnerability Assessment</a></h3>
                  <p>Identify security issues before they can be exploited.Improve productivity by avoiding application downtime.Protect the integrity and confidentiality of sensitive enterprise data and ensure security in time for product release</p>
                </div>
              
              </div><!-- End Card Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                 
                  <h3><a href="service-details.html" class="stretched-link">Penetration Testing</a></h3>
                  <p>Penetration testing find the weaknesses in your system before a malicious actor does.
                    Network & Web Application Testing
                    Client side Security Testing
                    Physical Security Testing
                    Social Engineering Testing</p>
                </div>
              </div><!-- End Card Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                  
                  <h3><a href="service-details.html" class="stretched-link">Anti Malware Protection</a></h3>
                  <p>Anti malware Services designed to prevent, detect and remove malicious software on IT systems, as well as individual computing devices. Anti malware software protects against infections caused by many types of malware, including all types of viruses.</p>
                </div>
              </div><!-- End Card Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="card">
                  
                  <h3><a href="service-details.html" class="stretched-link">Bug Bounty Hunting</a></h3>
                  <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
                </div>
              </div><!-- End Card Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="card">
                  
                  <h3><a href="service-details.html" class="stretched-link">Pacgkagin</a></h3>
                  <p>Illo consequuntur quisquam delectus praesentium modi dignissimos facere vel cum onsequuntur maiores beatae consequatur magni voluptates</p>
                </div>
              </div><!-- End Card Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="card">
                  
                  <h3><a href="service-details.html" class="stretched-link">Warehousing</a></h3>
                  <p>Quas assumenda non occaecati molestiae. In aut earum sed natus eatae in vero. Ab modi quisquam aut nostrum unde et qui est non quo nulla</p>
                </div>
              </div><!-- End Card Item -->
    
            </div>
    
          </div>
        </section><!-- End My experties Section -->

      <!-- ======= Blog Section ======= -->
      <section id="ourwork" class="ourwork">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Blog
            </h2>
            
          </div>
  
          <div class="ourwork-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="ourwork-wrap">
                  <div class="ourwork-item">
                    <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
  
                  </div>
                  <div class="post-text" style="background-size: cover;">
                    <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                        cupidatat labore ad laborum consectetur consequat...</p>
                </div>
                </div>
              </div><!-- End ourwork item -->
              <div class="swiper-slide">
                <div class="ourwork-wrap">
                  <div class="ourwork-item">
                    <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
  
                  </div>
                  <div class="post-text" style="background-size: cover;">
                    <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                        cupidatat labore ad laborum consectetur consequat...</p>
                </div>
                </div>
              </div><!-- End ourwork item -->
              <div class="swiper-slide">
                <div class="ourwork-wrap">
                  <div class="ourwork-item">
                    <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
  
                  </div>
                  <div class="post-text" style="background-size: cover;">
                    <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                        cupidatat labore ad laborum consectetur consequat...</p>
                </div>
                </div>
              </div><!-- End ourwork item -->
              <div class="swiper-slide">
                <div class="ourwork-wrap">
                  <div class="ourwork-item">
                    <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
  
                  </div>
                  <div class="post-text" style="background-size: cover;">
                    <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                        cupidatat labore ad laborum consectetur consequat...</p>
                </div>
                </div>
              </div><!-- End ourwork item -->
  

  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End blog Section -->
            <!-- ======= course Section ======= -->
            <section id="ourwork" class="ourwork">
              <div class="container" data-aos="fade-up">
                <div class="section-header">
                  <h2>Coures Details
                  </h2>
                  
                </div>
        
                <div class="ourwork-slider swiper" data-aos="fade-up" data-aos-delay="100">
                  <div class="swiper-wrapper">
        
                    <div class="swiper-slide">
                      <div class="ourwork-wrap">
                        <div class="ourwork-item">
                          <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
        
                        </div>
                        <div class="post-text" style="background-size: cover;">
                          <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                          <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                              cupidatat labore ad laborum consectetur consequat...</p>
                      </div>
                      </div>
                    </div><!-- End ourwork item -->
                    <div class="swiper-slide">
                      <div class="ourwork-wrap">
                        <div class="ourwork-item">
                          <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
        
                        </div>
                        <div class="post-text" style="background-size: cover;">
                          <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                          <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                              cupidatat labore ad laborum consectetur consequat...</p>
                      </div>
                      </div>
                    </div><!-- End ourwork item -->
                    <div class="swiper-slide">
                      <div class="ourwork-wrap">
                        <div class="ourwork-item">
                          <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
        
                        </div>
                        <div class="post-text" style="background-size: cover;">
                          <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                          <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                              cupidatat labore ad laborum consectetur consequat...</p>
                      </div>
                      </div>
                    </div><!-- End ourwork item -->
                    <div class="swiper-slide">
                      <div class="ourwork-wrap">
                        <div class="ourwork-item">
                          <img src="assets/img/blog/black-hat-2022-banner-mobile.jpg" class="ourwork-img" alt="">
        
                        </div>
                        <div class="post-text" style="background-size: cover;">
                          <h4 class="de_modal" data-url="single-blog.html">10 Web Design Tips From Experts</h4>
                          <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit
                              cupidatat labore ad laborum consectetur consequat...</p>
                      </div>
                      </div>
                    </div><!-- End ourwork item -->
        
      
        
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
        
              </div>
            </section><!-- End course Section -->





        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container">
    
            <div class="slides-1 swiper" data-aos="fade-up">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
          </div>
        </section><!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 mt-4">

          <div class="col-lg-4">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->

  {% endblock %}